:host {
  display: block;
}

.main-content {
  max-width: 1472px;
  min-height: calc(100dvh - 74px);
  margin: 0 auto;
  padding: var(--app-space-8);
}

@media (max-width: 1250px) {
  .main-content {
    padding-inline: var(--app-space-6);
  }
}
